@charset 'utf-8';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    min-width: 1100px;
    position: relative;
}
/*header와 관련된 CSS*/
.header{
    height: 178px;
}
.header-top{
    height: 130px;
}
.header-bottom{
    height: 48px;
    border-top: 1px solid rgb(241, 243, 246);
    border-bottom: 1px solid rgb(209, 216, 218);
}
/*main과 관련된 CSS*/
.main{
    height:1466px;
    min-width: 1080px;
}
.container{
    width: 1080px;
    height:100%;
    margin: 0 auto;
    position: relative;
}
.box-left{
    width: 740px;
    height: 100%;
    float: left;
}
.box{
    width: 100%;
    margin-top: 8px;
    border:1px solid #dee3eb;
}
.left-contents1, .right-contents1{
    height: 120px;
}
.left-contents2{
    height: 46px;}
.left-contents3{
    height: 246px;}
.left-contents4{
    height: 884px;}
.left-contents5{
    height: 130px;}
.right-contents2{
    height: 142px; }
.right-contents3{
    height: 150px; }
.right-contents4{
    height: 884px; }
.right-contents5{
    height: 130px; }
.box-right{
    width: 332px;
    height: 100%;
    float: right;
}
/*헤더 탑과 관련된 CSS*/
.logo{
    width: 198px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: -2px;
    margin-top: -25px;
    background-position: -4px -4px;
}
/*footer와 관련된 CSS*/
.footer{
    height:314px;
    margin-top: 8px;
}
/*배경 색 관련*/
.bg-white{
    background-color: white;
}
.bg-body{
    background-color: rgb(244, 244, 247);
}
.search-box{
    width: 521px;
    height: 49px;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    margin-top: -20px;
    left: 219px;
}
.search-in{
    border: 2px solid #03cf5d;
    width: 474px;
    height: 49px;
}
.search{
    width: 405px;
    height: 23px;
    margin: 12px 0 0 9px;
    border : none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}
.keyboard{
    width: 31px;
    height: 41px;
    padding: 15px 6px;
    display: block;
    position: absolute;
    right :76px;
    top:50%;
    margin-top: -21px;
}
.keyboard-icon{
    width: 19px;
    height: 11px;
    background-position: -33px -60px;
    display: block;
}
.green{
    background-position: -60px -60px;
}
.auto{
    width: 31px;
    height: 41px;
    padding: 19px 12px 19px 6px;
    display: block;
    position: absolute;
    right :49px;
    top:50%;
    margin-top: -21px;
}
.auto-icon{
    width: 9px;
    height: 4px;
    background-position: -87px -60px;
    display: block;
}
.active{
    background-position: -138px -60px;
}
.search-btn{
    width: 49px;
    height: 49px;
    background-color: #03cf5d;
    position: absolute;
    right: 0;
    top:0;
}
.search-icon{
    position: absolute;
    top: 14px;
    left: 14px;
    width: 21px;
    height: 21px;
    background-position: -4px -60px;
}
.auto-box{
    width: 521px;
    height: 90px; 
    border: 1px solid #bec8d8;
    background-color: #fff;
    margin-top:-2px;
    display: none;
    position: relative;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
    z-index: 100;
}
.typobox{
    width: 100%;
    height: 33px;
    padding: 8px 0;
    border: 1px solid #ebeef3;
    border-width: 1px 0 0;
    background: #f9fafc;
    color: #666;
    font-size: 11px;
    line-height: 28px;
}
.a{
    text-decoration: none; 
}
.happybean{
    width: 34px;
    height: 11px;
    background-position: -143px -99px;
    position: absolute;
    right:0px;
    top: 20px;
}
.happybean:hover{
    background-position: -136px -157px;
}
.green-container{
    width: 303px;
    height: 32px;
    box-sizing: border-box;
    padding: 16px 0 0 4px;
    display: flex;
    float: left;
}
.green-container>a{
    margin-left: 14px;
    text-decoration: none;
    display: block;
}
.green-container>a:first-child{
    margin-left: 0;
    height: 16px;
}
.mail{width:25px; background-position:0 -285px;}
.cafe{width:27px; background-position:-279px -52px;}
.blog{width:40px; background-position:-100px -182px;}
.kin{width:40px; background-position:-101px -156px;}
.shop{width:26px; background-position:-279px -156px;}
.pay{width:25px; background-position:-70px -285px ;}
.tv{width:32px; background-position:-125px -130px; margin-top: -1px;}

.black-container{
    height: 38px;
    box-sizing: border-box;
    padding: 16px 0 0 14px;
    float: left;
}
.box-menu{
    width: 62px;
    height: 28px;
    border:1px solid #e3e7ee;
    background-color: #fcfdfe;
    display: block;
    margin-top: -8px;
    display: inline-block;
}
.select{
    border-color: #00b336;
}
.black-box{
    height: 16px;
    border:none;
    background-color: transparent;
    margin-top: 0px;
    float: left;
    margin-left: 14px;
}
.black-box:first-child{
    margin-left: 0;
}
.dic{width:26px; background-position:-279px -208px;}
.news{width:28px; background-position:-128px -104px;}
.stock{width:26px; background-position:-36px -259px;}
.deal{width:40px; background-position:-151px -156px;}
.map{width:27px; background-position:-279px -130px;}
.movie{width:27px; background-position:-234px -233px;}
.music{width:26px; background-position:-72px -259px;}
.book{width:13px; background-position:-140px -78px;}
.comic{width:27px; background-position:-279px 0;}

.naviempty{
    width: 350px;
    height: 38px;
    position: relative;
    float: left;
    padding-top: 16px;
    padding-left: 14px;
    display: none;
}
.empty:first-child{
    border-color: #00b336;
}
.empty{
    width: 64px;
    height: 30px;
    margin-left: 10px;
    margin-top: -8px;
    border: 1px solid #e3e7ee;
    background: #fcfdfe;
    float: left;
    display: block;
}

.bar{
    float: left;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}
.more{
    display: block;
    width: 55px;
    height: 16px;
    background-position: 0 -104px;
    margin-top: -2px;
    margin-left: 14px;
}
.fold{
    width: 42px;
    height: 15px;
    background-position: 0 -208px;
    margin-top: -2px;
    margin-left: 14px;
}
/*더보기 시 서비스 전체보기 버튼*/
.sv{
    position: absolute;
    top: 0px;
    right: -5px;
    padding-top: 8px;
    height: 37.8px;
    background: #fff;
    display: none;
}
.sv2{
    position: absolute;
    top: 0px;
    right: -5px;
    padding-top: 8px;
    height: 37.8px;
    background: #fff;
    display: none;
    color: #444;
    font-weight: 700;
}
.service-all{
    float: left;
    width: 98px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;   
}
.service-all2{
    float: left;
    width: 73px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
}
.service-all:hover{
    border-color: #bec8d8;
}
.service-menu{
    float: left;
    margin-left: 5px;
    width: 68px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px; 
}
.service-menu2{
    float: left;
    margin-left: 5px;
    width: 53px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
}
.ok:hover{
    border-color: #a3badd;
}
.cancel:hover{
    border-color: #a3badd;
}
.service-menu:hover{
    border-color: #bec8d8;
}
.close-menubox{
    width:27px;
    height: 27px;
    float: left;
    margin: 2px 0 0 9px;
    padding: 5px;
    background: #fff;
}
.bottonimg{
    display: block;
    width: 17px;
    height: 17px;
    background-position: -191px -257px;
}
.bottonimg:hover{
    background-position: -164px -257px;
}
.start{
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-position: -132px -291px;
    vertical-align: -3px;
}
.start:hover{background-position: -132px -291px;}
/**/
.addbox{
    width: 100%;
    height: 353px;
    background: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: 178px;
    right: 0;
    left: 0;
    z-index: 100;
}
/*더보기 눌렀을시 나오는 설정메뉴 목록*/
.addsv:first-child{
    width: 138px;
    border-left: 1px solid #f1f3f6;
}
.ssv{
    position: relative;
    margin: 0 auto;
    padding: 20px 0 15px;
    width: 1080px;
}
.itemhouse{
    padding-top: 4px;
}
.addsv{
    width: 156px;
    height: 318px;
    padding: 0 0 0 16px;
    float: left;
    display: block;
    text-align: left;
    font-size: 12px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
    border-right: 1px solid #f1f3f6;
}
.sv-item{
    overflow: hidden;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*실시간 검색어 순위*/
.real-search-container{
    width: 198px;
    height: 20px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    overflow: hidden;
}
.real-search-item{
    padding: 0 0 0 21px;
    position: relative;
}
.real-search-link{
    text-decoration: none;
    color:black;
}
.real-search-rank{
    position: absolute;
    min-width: 17px;
    line-height: 18px;
    left:0;
    text-align: center;
    color:#00ab33;
    font-size: 16px;
    top:2px;
}
.real-search-title{
    font-size: 14px;
    width: 140px;
    letter-spacing: -1px;
}
.real-search-icon{
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -3px;
    margin-left: 525px;
    width: 11px;
    height: 6px;
    background-position: -223px -147px;
}
/*연합뉴스 목록 올라가는 부분*/
.cast{
    width: 738px;
    height: 33px;
    position: relative;
    padding: 15px 0 0 16px;
    list-style: none;
    display: flex;
}
.cast-list{
    overflow: hidden;
    height: 20px;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.castflash{
    display: block;
    margin-right: 12px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    line-height: 16px;
}
.casticon{
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 9px;
    background-position: -256px -100px;
    vertical-align: middle;
}
.ca-link{
    text-decoration: none;
}
.ca-title{
    color:#222;
    font-size: 12px;
}
/**/
.addbox2{
    width: 100%;
    height: 1788px;
    display: none;
    position: absolute;
    top: 178px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity:0.3;
    z-index:50;
}
.week{
    width: 330px;
    height: 34px;
    position: relative;
    padding-left: 15px;
    height: 33px;
    border-bottom: 1px solid #ebeef3;
}
.day{
    position: relative;
    top: 1px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    font-family: Tahoma,sans-serif;
    float: left;
}
.issue{
    display: inline;
    max-width: 130px;
    color: #888;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    padding: 10px;
}
.button{
    display: flex;
    float: right;
    cursor: pointer;
}
.go{
    display:block;
    border-left: 1px solid #8c929b;
    text-decoration: none;
    line-height: 10px;
    padding:11px 0;
    text-align: center;
    width: 34px;
}
.page{
    color: #000;
    font-weight: 700;
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    line-height: 14px;
}
.max{
    color: #888;
    font-weight: 700;
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    line-height: 14px;
}

.prev{width: 6px; background-position: -433px -303px; display: inline-block; height: 11px;}
.next{width: 6px; background-position: -433px -324px; display: inline-block; height: 11px;}
/*왼쪽 3번째 컨텐츠 관련 CSS*/
.l3-top{
    height: 45px;
    border-bottom: 1px solid#ebeef3;
}
.l3-bot{
    height: 200px;
}
.l3-low{
    height: 67px;
    border-bottom: 1px solid #ebeef3;
    display: flex;
}
.l3-low:last-of-type{
    border-bottom: none;
}
.l3-item{
    width: 100%;
    border-right: 1px solid #ebeef3;
    padding:21px 0 22px;
}
.l3-item-in{
    height: 100%;
    text-align: center;
}
/*체크박스*/
.radio{
    width: auto;
    height: auto;
    cursor: pointer;
}
.checkboximg{
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    background-position: -28px -62px;
    vertical-align: -3px;
}
.checkbox{
    position: absolute;
    visibility: hidden;
    float: left;
}
.radio-checked{
    width: 15px;
    height: 15px;
    background-position: -53px -62px;
}
.display-none{
    display: none;
}

/*배경이미지와 관련된 CSS*/
.bg1{
    background-image: url('https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg');
}
.bg2{
    background-image: url('https://s.pstatic.net/static/www/img/uit/2019/sp_main_v191029.png');
}
.bg3{
    background-image: url('https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png');
}
.bg4{background-image: url('https://s.pstatic.net/static/www/img/2017/sp_timesquare_v170913a.png');}
    
.bottonimg{background-image: url('https://s.pstatic.net/static/www/img/2018/sp_themecast_v180607.png');
}
.checkboximg{background-image: url('https://s.pstatic.net/static/www/img/2018/sp_more_v180627.png');}
.bg7{background-image: url('https://s.pstatic.net/static/www/img/uit/2019/sp_main_v191113.png');}
.bg8{
    background-image: url('https://s.pstatic.net/static/www/img/2018/sp_newscast_v180511.png');
}