@charset 'utf-8';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*head 시작부분-------------------------------------------------*/
.header{
    position: fixed;
    width: 100%; /*left:0 right:0 를 해도 width 100%와 같다*/
    top:0;
    z-index: 101;
}
/*검색창--------------------------------------------------------*/
.search{
    height: 60px;
    background-color: white;
    margin-left: 54px;
}
.logobox{
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 60px;
    background-color: white;
}
.logobox::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -1px;
    width: 1px;
    height: 22px;
    margin-top: -11px;
    background-color: #eceff3;
}
.naver{
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-position: -32px -312px;
    background-size: 451px 440px;
    margin: 19px 14px 19px 15px;
}
.search-input{
    display: block;
    height: 60px;
    padding: 17px 0 16px 14px;
    margin-right: 124px;
}
.search-intext{
    width: 100%;
    height: 27px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.4px;
    color: #c7cad1;
    line-height: 27px;
    border: 0;
    background: 0 0;
    vertical-align: top;
    -webkit-appearance: none;
    outline: 0;
    text-overflow: ellipsis;
}
.search-tool{
    width: 137px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 7px;
    display: flex;
}
.button{
    height: 60px;
    width: 40px;
    position: relative;
    display: inline-block;
    margin-left: 1px;
    vertical-align: middle;
    margin: 0 0 0 1px;
    padding: 16px 6px;
}
.tool1{
    width: 28px;
    height: 28px;
    background-position: -321px -93px;
    background-size: 451px 440px;
    display: inline-block;
}
.tool2{
    width: 28px;
    height: 28px;
    background-position: -321px -60px;
    background-size: 451px 440px;
}
.tool3{
    width: 28px;
    height: 28px;
    background-position: -321px -27px;
    background-size: 451px 440px;
}
/*검색어창 클릭시 입력창으로 바뀌는곳*/
.search-box{
    width:100%;
    height: 209px;
    background-color: #fff;

    z-index: 100;
    display: block;
    position: absolute;
    padding: 53px 0 54px;
    box-sizing: border-box;
    display: none;
    margin-top: 1px;
}
.typo{
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
    color: #666;
    line-height: 29px;
    text-align: center;
    letter-spacing: -.3px;
    overflow: hidden;
}
.t1{
    font-size: 1rem;
    color: #8f8f8f;
    line-height: 29px;
    text-align: center;
    letter-spacing: -.3px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
}
.t2{
    color: #00c73c;
    text-decoration: underline;
    line-height: 29px;
    text-align: center;
    letter-spacing: -.3px;
}
.search-footer{
    width: 100%;
    position: absolute;
    margin-top: 209px;
    height: 45px;
    border-top: 1px solid #ecf0f2;
    border:1px solid #ecf0f2;
    z-index: 101;
    display: none;
    background-color: white;
}
.f1{
    display: inline-block;
    margin: 0 1px;
    padding: 0 7px;
    border: 0;
    font-size: 1rem;
    color: #8f8f8f;
    line-height: 45px;
    text-align: right;
    text-decoration: none;
    letter-spacing: -.3px;
}
.naver2{
    content: "";
    display: block;
    width: 21px;
    height: 18px;
    background-position: -366px -298px;
    margin: 21px 18px;
    background-size: 451px 440px;
}
.bgcolor{
    width: 100%;
    height: 500px;
    background-color: #e2e2e2;
    margin-top: 255px;
    display: none;
    position: absolute;
}
/*네비게이션 바----------------------------------------------------------------------*/
.menu-list{
    height: 52px;
    background-color: #0eca68;
    overflow: hidden;
    position: relative;
    height: 52px;
    z-index: 99;
}
.prev{
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0;
    width: 15px;
}
.nav{
    display: inline-flex;
    min-width: 100%;
    height: 51px;
    padding: 0 7px 0 8px;
    text-align: center;
    list-style: none;
} 
.nav_item{
    display: inline-block;
    position: relative;
    height: 51px;
    margin: 0 4px 0 3px;
    padding: 0 4px;
    line-height: 51px;
    vertical-align: top;
    width:auto;
}
.todo{
    width: 46px;
    height: 24px;
    background-position: -49px -189px;
    background-size: 378px 321px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.enter{
    width: 32px;
    height: 24px;
    background-position: -345px -243px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.pay{
    width: 54px;
    height: 24px;
    background-position: -198px -135px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.selective{
    width: 59px;
    height: 24px;
    background-position: -62px -162px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.beauty{
    width: 59px;
    height: 24px;
    background-position: 0 -162px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.vogue{
    width: 45px;
    height: 24px;
    background-position: -260px -216px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.home{
    width: 18px;
    height: 24px;
    background-position: -283px -270px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.news{
    width: 33px;
    height: 24px;
    background-position: -309px -216px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.ent{
    width: 33px;
    height: 24px;
    background-position: -345px -27px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.sports{
    width: 46px;
    height: 24px;
    background-position: -260px -81px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.data{
    width: 60px;
    height: 24px;
    background-position: -135px -108px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.shopping{
    width: 33px;
    height: 24px;
    background-position: -288px -297px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.myplace{
    width: 60px;
    height: 24px;
    background-position: -63px -81px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.myfeed{
    width: 54px;
    height: 24px;
    background-position: -198px -108px;
    content: "";
    display: block;
    position: relative;
    top: 13px;
}
.nav-more{
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 50px;
    opacity: 1;
    padding-right: 6px;
    border: 0;
}
.more-button{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-position: -215px -146px;
    background-size: 465px 441px;
    margin: 18px 9px;
}
/*네비게이션 바 끝 부분-----------------------------------------*/
/*body 시작부분------------------------------------------------*/
body{
    background-color: #eff2f8;
}
.body{/*fixed를 위에서 주었기 때문에 margin을 준다.*/
    margin-top: 112px;
    position: relative;
}
/*홀수번째 요소는 왼쪽으로*/
.contents:nth-of-type(2n-1){
    float: left;
}
/*짝수번째 요소는 오른쪽으로*/
.contents:nth-of-type(2n){
    float: right;
}
.body::after{
    clear: both;
    content: "";
    display: block;
}
.tabcontents .swiper-slide{
    margin-top: 112px;
}
.contents{
    width: 50%;
    background-color: white;
    margin-bottom: 10px;
}
.economy{
    height: 337.8px;
}
/*드라마,예능 버튼*/
.cell-menu-wrap{
    padding: 11px 0;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
}
.cell-list{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background-color: #f2f1ff;
    vertical-align: top;
    list-style: none;
}
.cell-item{
    display: inline-block;
    min-width: 101px;
    vertical-align: top;
    font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;
    font-weight: 500;
}
.cell-item-drama{
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #6257ff;
    letter-spacing: -1px;
    text-decoration: none;
    cursor: pointer;
}
.cell-item-drama::before{
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    width: 41px;
    height: 14px;
    background-position: -214px -323px;
    margin-left: -20.5px;
    background-size: 625px 594px;
}
.cell-item-ent{
    /* background-image: linear-gradient(to right,#9063fe,#686bfe); */
    border-radius: 18px;
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -1px;
    text-decoration: none;
    cursor: pointer;
    color: #6257ff;
}
.cell-item-ent::before{
    width: 27px;
    height: 14px;
    background-position: -308px -488px;
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -13.5px;
}
.a{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    background-image: linear-gradient(to right,#9063fe,#686bfe);
    border-radius: 18px;
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -1px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
/*---------------------------------------------------------------*/
.news-all{
    height: 200px;
}
.news-location{
    height: 141.34px;
}
.pan{
    height: 174px;
}
.news-list{
    height: 547px;
}
.broadcast{
    height: 435.8px;
}
.press{
    height: 387px;
}
.internet{
    height: 337.6px;
}
.edit{
    height: 90.8px;
}
.ad{
    height: 140px;
}
.line{
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    background: #efefef;
    z-index: 100;
}
/*인터넷 IT지*/
.box1{
    padding: 0 9px 14px 10px;
}
.card-title{
    height: 29.65px;
    padding: 3px 5px 10px 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #555;
    letter-spacing: -1px;
    font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;
}
.card{
    height: 293.65px;
}
.card-row{
    display: flex;
}
.card-item{
    width: 100%;
    height: 87px;
    margin-bottom: 11px;
    margin: 0 6px 0 5px;
    background-color: #f2f4f9;
    border:solid 1px #edeff4;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}
.card-item-select{
    background-color: white;
    border:1px solid #19c546;
}
.card-icon{
    width: 42px;
    height: 42px;
    margin: 12px auto 0 ;
    display: block;
    border-radius: 21px;
}
.card-subs{
    position: absolute;
    top: 5px;
    right: 5px;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-position: -594px -429px;
    background-size: 621px 592px;
}
.card-subs-select{
    top: 7px;
    width: 13px;
    height: 10px;
    background-position: -347px -516px;
    background-size: 621px 592px;
}
.card-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.8px;
    color: #444;
    font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;
}
.nav_on{
    height: 100%;
    line-height: 47px;
    border-bottom: 4px solid rgba(255,255,255,.75);
}
.nav_page{
    display: block;
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    display: none;
    font-size: 0;
    line-height: 0;
    color: transparent;
    white-space: nowrap;
    z-index: 1;
}
.current{
    background-color: #fff;
}
.page{
    width: 4px;
    height: 4px;
    display: inline-block;
    overflow: hidden;
    margin: 0 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255,.5);
    vertical-align: top;
    font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;
    font-weight: 500;
}
/*배경 이미지*/
.bg1{background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_search_v191106.png');}
.navbg{background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_nav_3x_v190731.png');
    background-size: 378px 321px;}
.bg2{background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_cui_v191114.png');
}
.bg1-1{background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_search_v191126.png');}
.bg2-2{background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_cui_v191127.png');}