@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1920px;
    height: 1200px;
    background-image: url('../img/메인.jpg');
    background-repeat: no-repeat;
    position: relative;
}
.head{
    width:1920px;
    height: 154px;
    background-color: white;
    z-index: 1;
    position: relative;
    top:0;
    left: 0;
}
.logobox{
    width: 152px;
    height: 154px;
    position: absolute;
    top:0;
    left: 0;
    margin-left: 410px;
}
.logo{
    width: 94px;
    height: 90px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -73px;
}
.logo-item{
    display: inline-block;
    font-size: 11px;
    font-family: 'NanumBarunGothic', sans-serif;
    color: gray;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -7px;
}
.logo-item2{
    display: inline-block;
    font-size: 20px;
    font-family: 'NanumBarunGothic', sans-serif;
    color:#32acdb;
    font-weight: 400;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50px;
    margin-top: 10px;
}
.logo-item3{
    display: inline-block;
    font-size: 20px;
    font-family: 'NanumBarunGothic', sans-serif;
    color:#727272;
    font-weight: 400;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -10px;
    margin-top: 10px;
}
.nav{
    width: 800px;
    height: 152px;
    display: inline-block;
    position: relative;
    top: 0;
    left:50%;
    margin-left: -300px;
}
ul{
    list-style: none;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'NanumBarunGothic', sans-serif;
    color:#727272;
}
ul:first-of-type{
    color: #32acdb;
}
li{
    margin-top: 6px;
    font-size: 12px;
    font-family: 'NanumBarunGothic', sans-serif;
    color:#b1b1b1;
}
.login{
    margin-left: 550px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'NanumBarunGothic', sans-serif;
    color:#b1b1b1;
}
.snsicon{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: 315px;
    margin-top: -90px;
    display: inline-block;
    width: 62px;
    height: 60px;
}
/*body 시작부분-----------------------------------------*/
.body{
    width:1920px;
    height: 916px;
    position: relative;
    /* background-color: wheat; */
}
.main{
    width:1920px;
    height: 1170px;
    position: absolute;
    top:0;
    left: 0;
}
.bodytext{
    width: 380px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 120px;
    margin-top: -270px;
}
.cali{
    font-size: 70px;
    font-family: 'Nanum Pen Script', cursive;
    color: black;
}
.cali2{
    font-size: 16px;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -60;
    font-weight: 400;
    color:#383838;
}
.contents{
    width: 1000px;
    height: 124px;
    display: flex;
    position: absolute;
    top: 500px;
    left:400px;
}
.contents-item{
    width:250px;
    height: 124px;
}
.contents2{
    width: 1000px;
    height: 152px;
    background-color: white;
    position: absolute;
    display: flex;
    top: 624px;
    left:400px;
}
/*예약관련 컨텐츠 칸--------------------------------------*/
.blue{
    background-color: #32acdb;;
}
.card{
    margin-top: 28px;
    margin-left: 20px;
}
.card-typo{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.card-typo2{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 10px;
    color: white;
    margin-top: 8px;
}
.card1{
    width: 68px;
    height: 68px;
    display: block;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 170px;
}
.card2{
    width: 68px;
    height: 68px;
    display: block;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 420px;
}
.card3{
    width: 68px;
    height: 68px;
    display: block;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 670px;
}
.card4{
    width: 68px;
    height: 68px;
    display: block;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 920px;
}
.mint{
    background-color: #4bc2b7;
}
.orange{
    background-color:#db6132 ;
}
.brown{
    background-color: #665759;
}
/*공지사항.지점소개 등등 기타란*/
.contents-info{
    width:250px;
    height: 152px;
}
.contents-area{
    width: 500px;
    height: 152px;
}
.contents-qna{
    width:250px;
    height: 152px;
}
.info-title{
    font-family: 'NanumBarunGothic', sans-serif;
    text-align: left;
    margin-left: 16px;
}
.bar{
    width:110px;
    height: 1px;
    background-color: gray;
    display: inline-block;
    opacity: 0.5;
}
.info-t2{
    width:70px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    display: inline-block;
}
.info-item{
    font-size: 12px;
    color: black;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-top: 10px;
}
.info-item:first-of-type{
    margin-top: 12px;
}
.date:first-of-type{padding:15px 8px;}
.date{
    display: inline-block;
    font-size: 8px;
    padding:6px 8px;
    color: gray;
    opacity: 0.5;
}
.info-t3{
    font-family: 'NanumBarunGothic', sans-serif;
    text-align: left;
    margin-left: 16px;
    width:70px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    display: inline-block;
    margin-top: 10px;
}
.bar2{
    width:350px;
    height: 1px;
    background-color: gray;
    display: inline-block;
    opacity: 0.5;
}
.area-list{
    width: 437px;
    height: 65px;
    margin-top: 20px;
    margin-left: 17px;
}
/*footer 시작부분---------------------------------------*/
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:1920px;
    height: 128px;
    background-color: white;
}
.copyright{
    float: right;
    padding: 30px 530px;
    text-align: right;
}
.a{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 500;
}
.b{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 500;
    margin-top: 10px;
}
.c{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 10px;
    opacity: 0.5;
    font-weight: 500;
    margin-top: 10px;
}