/*---------------------------------------------------전체 화면설정----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SHAKA-SURF{
    width: 1582px;
    height: 4518px;
    margin: 0 auto;
}
/*---------------------------------------------------전체 화면설정----------------*/
/*----------------------------------Head 시작부분---------------*/
.head{
    width: 1582px;
    height: 1060px;
    /* background-color: wheat; */
}
/*---------------------------------야자수 이파리 모션*/
.leaf-head{
    left: -150px;
    position: absolute;
    display: inline-block;
    z-index: 8;
    top: 130px;
}
.head-leaf1{
    width:600px;
    transform: rotate(75deg);
    position: absolute;
    left: -120px;
}
.head-leaf2{
    width: 430px;
    transform: rotate(-25deg);

    position: absolute;
    left: -100px;
    top: 900px;
}
.head-leaf3{
    width: 530px;
    transform: rotate(150deg);

    position: absolute;
    left: -70px;
    top: 1150px;
}
.head-leaf4{
    width: 550px;
    transform: rotate(-90deg);

    position: absolute;
    left: 1450px;
    top: 550px;
}
.head-leaf5{
    width: 550px;
    transform: rotate(20deg);

    position: absolute;
    left: -120px;
    top: 2550px;
}
.head-leaf6{
    width: 550px;
    transform: rotate(-10deg);

    position: absolute;
    left: 1450px;
    top: 2950px;
}
/*로고부분 이파리*/
.head-leaf7{
    width: 400px;
    transform: rotate(-10deg);

    position: absolute;
    left: 580px;
    top: 250px;
}
.head-leaf8{
    width: 400px;
    transform: rotate(75deg);

    position: absolute;
    left: 960px;
    top: 380px;
}
.head-leaf9{
    width: 400px;
    transform: rotate(-120deg);

    position: absolute;
    left: 520px;
    top: 640px;
}
.head-leaf10{
    width: 340px;
    transform: rotate(1deg);

    position: absolute;
    left: 980px;
    top: 680px;
}
.head-flower1{
    width: 400px;
    transform: rotate(10deg);

    position: absolute;
    left: 900px;
    top: 320px;
}
.head-flower2{
    width: 340px;
    transform: rotate(-80deg);

    position: absolute;
    left: 530px;
    top: 450px;
}
.head-flower3{
    width: 440px;
    transform: rotate(180deg);

    position: absolute;
    left: 620px;
    top: 670px;
}
/*----------------------------------------------메뉴시작 부분---*/
.menu{
    width: 1582px;
    height: 69px;
    /* border:1px solid black; */
    display: flex;
}
.reservation-box{
    width: 279.47px;
    height: 68.88px;
    background-color: #e1a640;
    margin-left: 100px;
}
.reservation-typo{
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 68px;
}
.menubox{
    width: 279.47px;
    height: 68px;
    float: right;
    /* border:1px solid forestgreen; */
    margin-right: 100px;
    margin-left:826px;
    display: flex;
}
.menu-typo{
    font-size: 18pt;
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 46px;
    margin-left: 190px;
}
/* .hamburger{
    width: 35px;
    height: 32px;
    margin-top: 54px;
    margin-left: 12px;
} */

/*------------------------------메뉴팝업창*/
.Menu-popup{
    width: 1494px;
    height: 655px;
    background-color: #232323;
    position: absolute;
    top: 127px;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
.reservation-go{
    width: 416px;
    height: 102.72px;
    background-color: #e1a640;
    margin-top: 40px;
    /* border:1px solid white; */
}
.reservation-typo2{
    font-size: 32pt;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 98px;
}
.menu-imgbox{
    width :414px;
    height: 468px;
    background-color: black;
}
.imgbox-list{
    width :416px;
    height: 100%;
    filter: grayscale(100%);
    filter: brightness(30%);
}
.menu-typobox{
    width: 1494px;
    height: 136px;
    margin-top: -350px;
    display: flex;
    border:1px solid rgb(157, 255, 112);
    z-index: 15;
}
.menu-typobox1{
    width :350px;
    height: 136px;
    border:1px solid white;
    margin-left: 25px;
    z-index: 15;
}
.menu-typobox2{
    width :430px;
    height: 136px;
    border:1px solid white;
    margin-left: 75px;
    z-index: 15;
}
.menu-typobox3{
    width :300px;
    height: 136px;
    border:1px solid white;
    margin-left: 75px;
    z-index: 15;
}
.english-title{
    font-size: 24pt;
    font-family: myriad-pro, sans-serif;
    color: white;
    border:1px solid white;
}
.korea-title{
    font-size: 56pt;
    font-family: NanumGothic, Bold;
    font-weight: bold;
    color: white;
    border:1px solid white;
}
.logo-small{
    width: 100px;
    height: auto;
    position: absolute;
    top: 470px;
    left: 1340px;
    border:1px solid white;
}
.menu-leaf1{
    width:400px;
    position: absolute;
    top:-170px;
    left: 200px;
    transform: rotate(85deg);
    filter: brightness(0);
}
.menu-leaf2{
    width:400px;
    position: absolute;
    top:400px;
    left: 200px;
    transform: rotate(10deg);
    filter: brightness(0);
}
.menu-leaf3{
    width:400px;
    position: absolute;
    top:-150px;
    left: 1100px;
    transform: rotate(-110deg);
    filter: brightness(0);
}
.menu-leaf4{
    width:400px;
    position: absolute;
    top:450px;
    left: 790px;
    transform: rotate(-10deg);
    filter: brightness(0);
}
.menu-leaf5{
    width:400px;
    position: absolute;
    top:370px;
    left: 1000px;
    transform: rotate(-15deg);
    filter: brightness(0);
}
/*----------------------------------------메인사진/로고-----------------*/
.main-photo{
    width: 1385.63px;
    height: 780px;
    margin-left: 100px;
    margin-top: 58px;
    filter: brightness(17);
    filter: contrast(111%);
    filter: saturate(160%);
}
.logo-frame{
    width: 467.69px;
    height: 468.56px;
    border: 3px solid white;
    position: absolute;
    top: 572px;
    left: 566px;
}
.logobox{
    width: 372.59px;
    height: 372.53px;
    background-color: white;
    position: absolute;
    top:42px;
    left: 42px;
    z-index: 9;
}
.logo{
    width: 288px;
    height: 294px;
    position: absolute;
    top: 38px;
    left: 58px;
    z-index: 10;
}
/*-------------------------------------body 시작부분-----------------*/
.body{
    width: 1582px;
    height: 2940px;
    /* background-color: tomato; */
    position: relative;
}
/*-------------------------------------infomation 샤카서프 소개란---------------*/
.infomation{
    width:1582px;
    height: 600px;
}
.info-title{
    width: 500px;
    height: 124px;
    /* border:1px solid black; */
    position: absolute;
    left: 50%;
    top: 63px;
    margin-left: -240px;
}
.h1{
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #08404a;
    font-size: 56pt;
    text-align: center;
    line-height: 63px;
}
.sub-title{
    width: 584px;
    height: 60px;
    /* border:1px solid black; */
    position: absolute;
    top: 239px;
    left: 508px;

    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}
.sub-text{
    width: 770px;
    height: 160px;
    /* border:1px solid black; */
    position: absolute;
    top: 280px;
    left: 419px;
    line-height: 35px;

    font-family: NanumSquare ,Regular;
    font-size: 14pt;
    text-align: center;
}
.sub-text-typo{
    margin-top: 26px;
}
/*------------------------------------illust 애니메이션--------------------*/
.illust-animation{
    width: 1582px;
    height: 589px;
    /* border:1px solid black; */
    position: relative;
}
.sea{
    width: 1200px;
    height: 320px;
    position: absolute;
    top: 100PX;
    left: 180px;
    z-index: 1;
    /**/
    
}
.man{
    position: absolute;
    top: 180PX;
    left: 250px;
    z-index: 2;
    /**/
    animation-name: man;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.ball{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100PX;
    left: 500px;
    /**/
    animation-name: ball;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.woman{
    position: absolute;
    top: 100PX;
    left: 1050px;
    z-index: 3;
    /**/
    animation-name: woman;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.sunny{
    position: absolute;
    top: 150px;
    left: 720px;
    /**/
    animation-name: sunny;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.farmtree{
    width: 130px;
    height: 200px;
    position: absolute;
    top: 100PX;
    left: 970px;
    /**/
    animation-name: tree;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
/*-----------------------------------슬라이드로 사진 넘기는 갤러리부분--------*/
/* .slide-gallery{
    width: 1582px;
    height: 619px;
    float: left;
    position: relative;
} */
/* .prev{
    width: 69px;
    height: 69px;
    background-color: black;
    opacity: 0.4;
    margin-top: 230px;
    margin-left: 160px;
    z-index: 10;
}
.show-2{
    width: 570.56px;
    height: 460px;
    position: absolute;
    top: 45px;
    left: 507px;
}
.show-3{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 110px;
    left: 1120px;
} */
.swiper-container {
    width: 1582px;
    height: 619px;
    position: absolute;
  }
  .swiper-slide {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: -50px;
}
.show{
    width: 408px;
    height: auto;
}
/*--------------------------------------이벤트 타이틀------------------*/
.info-title2{
    width: 800px;
    height: 124px;
    /* border:1px solid black; */
    position: absolute;
    left: 50%;
    top: 1847px;
    margin-left: -400px;
}
.sub-title2{
    width: 584px;
    height: 60px;
    /* border:1px solid black; */
    position: absolute;
    top: 2023px;
    left: 480px;

    font-family: NanumSquare ,ExtraBold;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}
/*----------------------------이벤트 요일별 슬라이드 리스트-----------*/
.evnet-show{
    width: 1264px;
    height: 550px;
    position: relative;
    left: -30px;
}
.event-1{
    width: 290px;
    height: 550px;
    /* border:1px solid black; */
    margin-left: 40px;
    position: absolute;
    top: 1000px;
    left: 160px;
}
.event-2{
    width: 290px;
    height: 550px;
    /* border:1px solid black; */
    margin-left: 40px;
    position: absolute;
    top: 1000px;
    left: 487px;
}
.event-3{
    width: 290px;
    height: 550px;
    /* border:1px solid black; */
    margin-left: 40px;
    position: absolute;
    top: 1000px;
    left: 810px;
}
.event-4{
    width: 290px;
    height: 550px;
    /* border:1px solid black; */
    margin-left: 40px;
    position: absolute;
    top: 1000px;
    left: 1132px;
}
.event-sub{
    font-family: NanumGothic ,sans-serif;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin-top: 48px;
}
.event-date{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54pt;
    text-align: center;
    color: #08404a;
    cursor: pointer;
}
.event-date2{
 color :#e1a640;
}
.underbar-event{
    width:288px;
    height: 1px;
    background-color: #999999;
    margin-top: 74px;
}
.event-month{
    font-family: myriad-pro, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 14pt;
    text-align: center;
}
.event-photo{
    width: 288px;
    height: 288px;
    position: absolute;
    top: 262px;
    display: none;
}
/*----------------------------------footer 시작부분---------------*/
.footer{
    width: 1582px;
    height: 500px;
    background-color: #c2c2c2;
    text-align: center;
    position: relative;
}
.footer-title{
    font-size: 26px;
    font-family: myriad-pro, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -114px;
}
.footer-sub{
    margin-top: 68px;
    font-size: 14px;
    text-align: center;
    font-family: NanumSquare ,sans-serif;
    font-weight: bold;
    line-height: 28px;

    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -160px;
}
.sns{
    width: 156px;
    height: 76px;
    /* border:1px solid sandybrown; */

    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -80px;
}
.sns-icon{
    display: flex;
}
.fab{
    font-size: 34px;
    margin-left: 16px;
    margin-top: 28px;
}
.underbar{
    width: 150px;
    height: 1px;
    background-color: black;
}
.underbar2{
    width: 150px;
    height: 1px;
    background-color: black;
    margin-top: 24px;
}
/*-------------------------------------이파리 애니메이션------*/
/* .moving{
    animation: moving ease-in-out 1s infinite alternate;
    transform-origin: -20px;
} */
/* @keyframes moving {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(-3deg); }
} */
.texture{
    width:2500px;
    height: 4030px;
    position: absolute;
    z-index: -1;
    filter: contrast(100%);
    filter: brightness(200%);
    filter: saturate(-80);
    opacity: 0.1;
}
/*---------------------------------------일러스트 애니메이션*/
@keyframes man {
    0% {
        left:150px;
    }
    50%{
        top:100px
    }
    100% {
        left:400px;
    }
  }
  @keyframes ball {
    0% {
        transform: rotate(0deg);
        left:500px;
    }
    30%{
        top:80px
    }
    100% {
        top:300px;
        transform: rotate(-180deg);
        left:600px;
    }
  }
  @keyframes sunny {
    0% {
        transform: rotate(0deg);
        left:730px;
    }
    30%{
        top:-30px
    }
    100% {
        transform: rotate(-180deg);
        left:730px;
    }
  }
  @keyframes woman {
    0% {
        right:730px;
    }
    30%{
        top:20px;
        left:1000px;
    }
    100% {
        top:-20px;
        right:600px;
    }
  }
  @keyframes tree {
    0% {
        right:730px;
    }
    30%{
        top:80px;
    }
    100% {
        right:600px;
    }
  }
/*----------------------*/
/* @keyframes event {
    0% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
} */
/*--------------------------햄버거 메뉴 애니메이션 CSS */
.menu-css{
    --color: black;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  .menu-css svg {
    width: 64px;
    height: 48px;
    top: 38px;
    left: -8px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
  }
  .menu-css svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .menu-css svg path:nth-child(2) {
    --duration: .7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
  }
  .menu-css svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
  }
  .menu-css.active svg path {
    --offset: 57px;
  }
  .menu-css.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
    --delay: .15s;
    --easing: cubic-bezier(.2, .4, .2, 1.1);
  }
  .menu-css.active svg path:nth-child(2) {
    --duration: .4s;
    --offset: 2px;
    --array-1: 1px;
  }
  .menu-css.active svg path:nth-child(3) {
    --offset: 58px;
  }
/*-------------------------------------------------------*/